.customer{
    border:2px solid rgb(67, 111, 255);
    width:1050px;
    height:150px;
    margin-left:0px;
    margin-top:100px;
}
.FaUser{
    color:  rgb(67, 111, 255);
    background-color:whitesmoke;
    width:25px;
    height:25px;
    border-radius:50%;
    margin-right:10px;
}
.User{
 padding-left:50px;
 padding-top:20px;
}

.Info{
    margin-left:350px;
    position: absolute;
    top:120px;
}
p{
    margin-top:10px;
    margin-left:30px;
    color: black;
    font-family:'Times New Roman', Times, serif;
    
    font-weight:unset;
}
.Deliver{
    margin-left:800px;
    position: absolute;
    top:120px;
}
#display{
    width:1050px;
    margin-top:10px;
}
#display th{
    background-color: rgb(67, 111, 255);
    color: white;
}
#display tr{
  border-color: #89cff0;
}
.trash{
    color: red;
}
.link{
    text-decoration: none;
    color: white;
}
.nag{
    background-color: rgb(67, 111, 255);
    border-color: rgb(67, 111, 255);
    position: absolute;
    top:20px;
}
.nag:hover{
    background-color: #89cff0;
    border-color: #89cff0;
}