.sidebar-link li:hover {
  color: #fff;
  cursor: pointer;
  background-color: #89cff0;
  border-radius:30px;
  font-size:large;
  font-weight: bold;
  


}
.sidebar-link li{
  transition: all .3s linear;
  
  
}

