.sections{
    display: flex;
}
.customers{
    border:1px solid #EEF5FF;
    background-color: #EEF5FF;
    justify-content: space-between;
    margin-top:30px;
    margin-left:30px;
    width: 250px;
    height:100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.customers>p{
    color:grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-top:10px;
}
p>.totalC{
    margin-left:35px;
    color:black;
    width:60px;
    height:25px;
}
.customers>h6{
    padding-left:30px;
    
}
.sales{
    justify-content: space-between;
    margin-top:30px;
    margin-left:50px;
    border:1px solid #EEF5FF;
    background-color: #EEF5FF;
    width: 250px;
    height:100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    
}
.sales>p{
    color:grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-top:10px;
}
.sales>h6{
    padding-left:30px;
}
p>.totalS{
    margin-left:70px;
    color:black;
    width:60px;
    height:25px;
}
.order{
    justify-content: space-between;
    margin-top:30px;
    margin-left:50px;
    border:1px solid #EEF5FF;
    background-color: #EEF5FF;
    width: 250px;
    height:100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.order>p{
    color:grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-top:10px;
}
p>.totalO{
    margin-left:70px;
    color:black;
    width:60px;
    height:25px;
}
.order>h6{
    padding-left:30px;
}
.earning{
    justify-content: space-between;
    margin-top:30px;
    margin-left:50px;
    border:1px solid #EEF5FF;
    background-color: #EEF5FF;
    width: 250px;
    height:100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.earning>p{
    color:grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-top:10px;

}
p>.totalE{
    margin-left:40px;
    color:black;
    width:60px;
    height:25px;
}
.earning>h6{
    padding-left:30px;
}
.customers:hover{
    background-color: #DCF2F1;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}
.order:hover{
    background-color: #DCF2F1;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}.earning:hover{
    background-color: #DCF2F1;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}.sales:hover{
    background-color: #DCF2F1;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.chart{
    border:1px solid black;
    width:300px;
    height:290px;
    margin-left:50px;
}
.line{
  
    width:300px;
    height:300px;
}
.latestorders{
    border:1px solid #DCF2F1;
    width:830px;
    margin-top:30px;
    margin-left:30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    background-color: #DCF2F1;
   
}
#latestOrders{
    width:800px;
    height:100px;
    margin-top:20px;
}
#latestO{
    width:300px;
}
.client{
    border:1px solid #DCF2F1;
    height:150px;
    width:140px;
    margin-left:20px;
    padding-bottom:30px;
    border-radius:10px;
}
.client >p{
    margin-left:1px;
    color:grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   margin-top:12px;
}
.status{
    border-radius:20px;
    height:22px;
    width:120px;
    
    
    
}
#price{
    margin-top:5px;
   
}
.icon{
    margin-right:3px;
    color:black;
    width:20px;
}
.lien{
    color: black;
    text-decoration: none;
    margin-left:80px;
  
}